.gray {
    background-color: rgb(209, 204, 204);
    height: 50px;
    padding: 10px;
}
.blue-square {
    background-color: blue;
    height: 50px;
    width: 50px;
    margin: 0px 0px 0px 8px; 

}
.white-stripe {
    background-color: white;
    height: 70px;
    margin: 50px;
    font-family: arial;
    font-size: 16pt;


}